@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-grad {
  @apply bg-gradient-to-r from-blue-500 to-teal-400 text-white font-semibold rounded-lg;
}

.input-group {
  @apply flex gap-2 mt-4;
}

input:focus {
  outline: none;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #111827;
}

.mermaid svg {
  margin: 0 auto !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}